.cover_fail_back {
    background: url('../assets/logos/fail_logo.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
}
#landing {
    min-height: 90vh;
}