#company-list {
    position: relative;
    margin-left: 25%;
}

.company-name {
    font-weight: bold;
}

.card-header .btn.btn-info {
    text-align: left;
    color: white !important;
    background-color: #4d6ae3;
}

.card-header .btn.btn-info:hover {
    color: white !important;
}

.card-body .field {
    font-weight: bold;
}

#filter-list {
    margin: 20px 0 20px 20px;
    position: fixed;
}

#filter-list ul li {
    margin-bottom: 5px;
}
