/* BEGIN CUSTOM DECLARATIONS */
@font-face {
    font-family: "Bebas Neue";
    src: url("../assets/fonts/BebasNeueRegular.ttf");
}

@font-face {
    font-family: "Norwester";
    src: url("../assets/fonts/norwester.tff"), url("../fonts/norwester.eot");
}

/* @import url('https://fonts.googleapis.com/css?family=Raleway:400,500'); */

@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/raleway/Raleway-Medium.ttf"),
        url("../assets/fonts/raleway/Raleway-Regular.ttf");
}

.bebas {
    font-family: 'Bebas Neue';
    font-weight: lighter;
}

/* .raleway {
    font-family: 'Raleway';
} */

.norwester {
    font-family: 'Norwester';
}

.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* END CUSTOM DECLARATIONS */
a{
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    font-size: 2vh;
}
.body {
    background: #111628 url("https://abhigyanghosh30.gitlab.io/new_researchweb.gitlab.io/assets/bg-pattern.png") repeat scroll;
}

.cover_noback{
    height: 100vh;
    width: 100%;
    background: url("https://abhigyanghosh30.gitlab.io/new_researchweb.gitlab.io/assets/bg-pattern.png") repeat scroll;

}
.cover_noback{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.cover_noback .row {
    justify-content: center;
    align-items: center;
}

.cover_noback .row .col-sm-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover_noback .row .col-md-5 {
    display: flex;
    justify-content: center;
}

.cover_noback .row .col-md-7 {
    display: flex;
    justify-content: center;
}

@media (min-width:768px){
    .vertical h6 {
        font-size: 2.94vw;
    }
    .vertical h1 {
        font-size: 10vw;;
    }
    .vertical h3 {
        font-size: 6vw;;
    }
    .spanvert {
        display: flex;
        height: 32.9vw;
        width: 36.6vw;
    }
    .smol-right {
        align-self: flex-end;
        justify-items: center;
        height: 6.58vw;
        width: 7.32vw;
        border: 1px solid white;
        font-size: 1vw;
        text-align: center;
    }
    
    .smol-left {
        align-self: flex-start;
        justify-items: center;
        height: 6.58vw;
        width: 7.32vw;
        border: 1px solid white;
        font-size: 1vw;
        text-align: center;
    }
    
    .mid-centre {
        align-self: center;
        justify-items: center;
        height: 19.7vw;
        width: 21.9vw;
        border: 1px solid white;
        font-size: 2vw;
        text-align: center;
        padding: 17% 0;
        animation: pulse 2s infinite;
    }
    
}
@media (max-width:767px){
    .vertical h6 {
        font-size: 7.05vw;
    }
    .vertical h1 {
        font-size: 24vw;
    }
    .vertical h3 {
        font-size: 14.10vw;
    }

    .spanvert {
        display: flex;
        height: 67.5vw;
        width: 75vw;
    }
    .smol-right {
        align-self: flex-end;
        justify-items: center;
        height: 13.5vw;
        width: 15vw;
        border: 1px solid white;
        font-size: 2.04vw;
        text-align: center;
    }

    .smol-left {
        align-self: flex-start;
        justify-items: center;
        height: 13.5vw;
        width: 15vw;
        border: 1px solid white;
        font-size: 2.04vw;
        text-align: center;
    }
    .mid-centre {
        align-self: center;
        justify-items: center;
        height: 40.5vw;
        width: 45vw;
        border: 1px solid white;
        font-size: 4.08vw;
        text-align: center;
        padding: 17% 0;
        animation: pulse 2s infinite;
    }
    
}

@media (max-width:767px) and (orientation: landscape){
    html {
        font-size: 2vw;
    }
    .vertical h6 {
        font-size: 3vw;
    }
    .vertical h1 {
        font-size: 10.2vw;
    }
    .vertical h3 {
        font-size: 6vw;
    }

    .spanvert {
        display: flex;
        height: 45vh;
        width: 50vh;
    }
    .smol-right {
        align-self: flex-end;
        justify-items: center;
        height: 9vh;
        width: 10vh;
        border: 1px solid white;
        font-size: 1.36vh;
        text-align: center;
    }

    .smol-left {
        align-self: flex-start;
        justify-items: center;
        height: 9vh;
        width: 10vh;
        border: 1px solid white;
        font-size: 1.36vh;
        text-align: center;
    }
    .mid-centre {
        align-self: center;
        justify-items: center;
        height: 27vh;
        width: 30vh;
        border: 1px solid white;
        font-size: 2.73vh;
        text-align: center;
        padding: 17% 0;
        animation: pulse 2s infinite;
    }
    
}

#fp-nav ul li a span{
    background-color: #bba559;
}

@media(min-width:769px){
    #landing {
        background: url('/assets/back/cover3.jpg'); 
        background-position: center;
        background-size: cover;   
        background-repeat: no-repeat; 
    }
}
@media (max-width : 769px) and (max-height : 1025px){
    #landing{
        background: url('/assets/back/cover3_tablet_potrait.jpg');
        background-position: center;
        background-size: cover;   
        background-repeat: no-repeat;
    }
}

@media (max-width: 1025px) and (max-height:1367px){
    #landing {
        background: url('/assets/back/cover3_tablet_potrait.jpg'); 
        background-position: center;
        background-size: cover;   
        background-repeat: no-repeat; 
    }
}

@media (width: 768px) and (orientation: portrait) {
    html {
        font-size: 1vh;
    }
}


.l-head {
    font-weight: lighter;
}

.col-sm-4 .fas{
    color: #111628;
    font-size: 5rem;
}

@media(max-width:768px) {
    .col-sm-4 .fas {
        font-size: x-large;
    }
}


.redded  {
    color: #db2d3b !important;
    font-weight: bolder;
}


.vertical {
    flex-direction: column
    /* font-size: 2rem; */
}

.capslock {
    text-transform: uppercase;
}

.boxlink {
    text-decoration: none;
    color: #e5e5e5;
}

.boxlink:hover {
    text-decoration: none;
    background-color: white;
    color: #131313;
}

.titular {
    line-height: 0.85;
}

.flighter {
    font-weight: lighter;
}

.fab {
    color:#bba559;
}

button.downb {
    color:#bba559; 
    background-color: transparent;
}

@keyframes pulse {
    0% { transform: scale(1); }
    20% { transform: scale(1.05); }
    40% { transform: scale(1); } 
    50% { transform: scale(1.02); }
    60% { transform: scale(1); }
    100% { transform: scale(1); }
 } 