@font-face {
    font-family: 'ErasFont';
    src: url('../assets/fonts/eras_medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SharpSans';
    src: url('../assets/fonts/sharp_sans_no2_extrabold-webfont.woff2') format('woff2'),
    url('../assets/fonts/sharp_sans_no2_extrabold-webfont.woff') format('woff'),
    url('../assets/fonts/sharp_sans_no2_extrabold-webfont.ttf') format('truetype');
}

header, nav.navbar {
    z-index: 100;
}

body, html {
    width: 100%;
    height: 100%;
}

.full-page {
    width: 100%;
    height: 100%;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-full-page {
    height: 100%;
}

.landing {
    /* margin-top: -13%; */
    width: 50%;
    text-align: center;
}

.landing-logo {
    width: 450px;
}

.landing-header {
    font-family: Georgia Arial;
    font-size: 7.5rem;
    margin-top: 13%;
    margin-bottom: 10%;
    font-family: 'SharpSans';
}

[class^="cta-"] {
    outline: none !important;
    border-radius: 25px;
    font-size: 2.5rem;
    padding: 1rem 4.4rem;
    text-shadow: none;
    box-shadow: none;
    background: blue;
    color: white;
    cursor: pointer;
    font-family: 'ErasFont';
}

.idea-list-container {
    width: 100%;
    text-align: center;
}

.idea-list-container ul {
    list-style: none;
}

.top-level-header {
    font-size: 6rem;
    font-family: 'SharpSans';
}

.top-level-header + h2 {
    font-size: 3rem;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'SharpSans';
}

.idea-list {
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
}

.idea-list div {
    width: 100%;
    height: 10%;
    position: relative;
    margin-top: 2%;
    text-align: justify;
    background: pink;
    font-size: 2rem;
    padding: 1%;
}

.idea-list div::after {
    border-radius: 100%;
    position: absolute;
    height: 100%;
    content: ' ';
    background: red;
    top: 0;
}

.idea-list div:nth-child(2n + 1){
    text-align: left;
    padding-right: 5%;
}

.idea-list div:nth-child(2n){
    text-align: right;
    padding-left: 5%;
}

.idea-list div:nth-child(2n + 1)::after{
    right: 0;
}

.idea-list div:nth-child(2n)::after{
    left: 0;
}

.idea-list div:last-child {
    margin-bottom: 4%;
}

.full-page.form-application iframe {
    margin-top: 7%;
    display: block;
}

.timeline-container {
    width: 70%;
}

.timeline {
    width: 100%;
    margin: 8% auto;
}

.timeline td h3 {
    font-size: 2rem;
    font-weight: bold;
}

.timeline td span {
    font-size: 1.75rem;
}

.timeline td {
    width: 45%;
    padding: 0 5%;
}

.sprint-left {
    text-align: right;
}

.sprint-right {
    text-align: left;
}

.medium-level-header {
    font-size: 4rem;
    text-align: center;
    margin-top: 7%;
    font-family: 'SharpSans';
}

.cta-3 {
    width: fit-content;
    display: block;
    margin: 0 auto;
    font-size: 2.75rem;
}

@media (max-height: 950px) {
    .landing {
        width: 75%;
        padding-top: 5%;
    }

    .landing-logo {
        width:60%;
    }

    .landing-header {
        font-size: 6.5rem;
        margin-top: 15%;
        margin-bottom: 30%;
    }

    .idea-list-container {
        padding-top: 5%;
    }

    .top-level-header {
        font-size: 4.5rem;
    }

    .top-level-header + h2 {
        margin-top: 10%;
        font-size: 2.5rem;
    }

    .idea-list {
        width: 60%;
    }

    .idea-list div {
        width: 94%;
        font-size: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }

    .cta-2 {
        margin-top: 2%;
        font-size: 2.5rem;
    }

    .timeline-container {
        width: 70%;
    }

    .medium-level-header {
        margin-top: 9%;
        font-size: 3.5rem;
    }

    .timeline-container .sprint h3 {
        font-size: 1.8rem;
    }
    .timeline-container .sprint span {
        font-size: 1.65rem;
    }

    .full-page.form-application {
        min-height: 100%;
        height: fit-content;
    }

    .full-page.form-application iframe{
        margin: 0 auto;
        margin-top: 7%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 0.5em;
    }

    .landing-logo {
        width: 100%;
    }

    .landing {
        width: 80%;
    }

    .top-level-header {
        padding: 0 5%;
    }

    .idea-list {
        width: 85%;
    }

    .idea-list-container div {
        font-size: 2.5rem;
        padding-left: 5% !important;
        padding-right: 5% !important;
        text-align: justify !important;
    }

    .idea-list div::before, .idea-list div::after {
        display: none !important;
    }

    .top-level-header + h2 {
        font-size: 2.5rem !important;
    }

    .idea-list div {
        font-size: 2.25rem;
    }

    .timeline-container {
        width: 90%;
    }

    .medium-level-header {
        font-size: 3.75rem;
        margin-top: 30%;
    }

    .form-application {
        display: none;
    }

    .timeline {
        height: fit-content;
    }

    .timeline td span {
        font-size: 2rem;
    }

    .timeline td h3 {
        font-size: 2.25rem;
    }
}

@media (max-width: 400px) {
    .top-level-header {
        margin-top: 10%;
        font-weight: bold;
        font-size: 3rem;
    }

    .idea-list div:last-child {
        /* Retain margin while removing element */
        height: 0;
        padding: 0;
        font-size: 0;
    }

    .timeline td span {
        font-size: 1.75rem;
    }

    .timeline td h3 {
        font-size: 2rem;
    }

    .cta-3{
        font-size: 2rem; 
    }
}
