header, nav.navbar {
    z-index: 100;
}

body, html {
    width: 100%;
    height: 100%;
}

.full-page {
    width: 100%;
    height: 100%;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-full-page {
    height: 100%;
}

.landing {
    /* margin-top: -13%; */
    width: 50%;
    text-align: center;
}

.landing-logo {
    width: 95%;
}

.landing-header {
    font-family: Georgia Arial;
    font-size: 7.5rem;
    margin-top: 13%;
    margin-bottom: 10%;
}

[class^="cta-"] {
    border-radius: 6%;
    font-size: 2.5rem;
    padding: 1rem 4.4rem;
    text-shadow: none;
    box-shadow: none;
    background: blue;
    color: white;
    cursor: pointer;
}

.idea-list-container {
    width: 100%;
    text-align: center;
}

.idea-list-container ul {
    list-style: none;
}

.top-level-header {
    font-size: 6rem;
}

.top-level-header + h2 {
    font-size: 3rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

.idea-list {
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
}

.idea-list div {
    width: 100%;
    height: 10%;
    position: relative;
    margin-top: 2%;
    text-align: justify;
    background: pink;
    font-size: 2rem;
    padding: 1%;
}

.idea-list div::after {
    border-radius: 100%;
    position: absolute;
    height: 100%;
    content: ' ';
    background: red;
    top: 0;
}

.idea-list div:nth-child(2n + 1){
    text-align: left;
    padding-left: 5%;
}

.idea-list div:nth-child(2n){
    text-align: right;
    padding-right: 5%;
}

.idea-list div:nth-child(2n + 1)::after{
    right: 0;
}

.idea-list div:nth-child(2n)::after{
    left: 0;
}

.idea-list div:last-child {
    margin-bottom: 4%;
}

.full-page.form-application iframe {
    margin-top: 7%;
}

.timeline-container {
    width: 70%;
    height: 100%;
}

.timeline {
    width: 100%;
    height: 60%;
}

.timeline div {
    height: 10%;
    margin-top: 4.5%;
    width: 50%;
    clear: both;
}

.timeline div h3 {
    font-size: 2rem;
    font-weight: bold;
}

.timeline div span {
    font-size: 1.75rem;
}

.timeline div:nth-child(2n + 1) {
    float: right;
    padding-left: 3%;
}

.timeline div:nth-child(2n) {
    float: left;
    text-align: right;
    padding-right: 3%;
}

.medium-level-header {
    font-size: 4rem;
    text-align: center;
    margin-top: 7%;
}

.cta-3 {
    width: fit-content;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px){
    html {
/*        font-size: 0.5em;*/
    }

    header {
        font-size: 
    }

    .landing-logo {
        width: 100%;
    }

    .landing {
        width: 80%;
    }
}
