---
layout : page
title : The Crew
permalink : /team/
---
<style>
.violet {
	background-color: #4a235a;
}
.greeny {
	background-color:   #0b5345 ;

}
.magenta
{
	background-color: #750017; 

}
.browny {
	background-color: #b50000
}
</style>



<h2 class = "text-center" style = "color: Purple;">Core Team</h2>
<br>
<div class ="row "  >
	
	{% for names in site.data.team %}
	{% if names.Core %}
	<div class="col-md-4 col-xs-4 col-sm-4" style="padding:2rem">

		<div class="card text-white" style="width:400px;bottom-margin: 10px; ">
			<img class="card-img-top" src="https://i.ytimg.com/vi/DgyKBO-6Qtc/maxresdefault.jpg" alt="Profile Image">
			{% if names.Team == "Web Dev" %}
			<div class="card-body bg-dark">
			{% elsif names.Team == "Finance" %}
			<div class="card-body violet">
			{% elsif names.Team == "Design" %}
			<div class="card-body browny">
			{% elsif names.Team == "Marketing " %}
			<div class="card-body bg-danger">
			{% elsif names.Team == "Corporate Relations" %}
			<div class="card-body magenta">
			{% else %}
			<div class="card-body greeny">
			{% endif %}
				<h3 class="card-title">{{names.Name}}</h3>
				<h5 >{{ names.Team }}</h5>
				<ul class="list-inline pt-3">
					<li class="list-inline-item p-2"><a class="faficon text-white" href="{{names.Facebook}}"><h5><i class="fa fa-facebook"></i></h5></a></li>
					{% if names.LinkedIn %}
					<li class="list-inline-item p-2"><a class="faficon text-white" href="{{names.LinkedIn}}"><h5><i class="fa fa-linkedin"></i></h5></a></li>
					{% else %}
					<li class="list-inline-item p-2"><h5><i class="fa fa-linkedin"></i></h5></li>
					{% endif %}
					<li class="list-inline-item p-2"><a class="faficon text-white" href="{{names.Email_Id}}"><h5><i class="fa fa-at"></i></h5></a></li>
				</ul>
				<h5><i class="fa fa-phone"></i> {{ names.Mobile_Number }}</h5>
			</div>
		</div>&nbsp
		<br>
	</div>
	
	{% endif %}
	{% endfor %}
</div>

<h2 class = "text-center" style = "color: Purple;">Members</h2>

<div class ="row "  >
	
	{% for names in site.data.team %}
	{% if names.Core %}
	{% continue %}
	{% else %}
	<div class="col-md-4 col-xs-4 col-sm-4" style="padding:2rem">

		<div class="card text-white" style="width:400px;bottom-margin: 10px; ">
			<img class="card-img-top" src="https://i.ytimg.com/vi/DgyKBO-6Qtc/maxresdefault.jpg" alt="Profile Image">
			{% if names.Team == "Web Dev" %}
			<div class="card-body bg-dark">
			{% elsif names.Team == "Finance" %}
			<div class="card-body violet">
			{% elsif names.Team == "Design" %}
			<div class="card-body browny">
			{% elsif names.Team == "Marketing " %}
			<div class="card-body bg-danger">
			{% elsif names.Team == "Corporate Relations" %}
			<div class="card-body magenta">
			{% else %}
			<div class="card-body greeny">
			{% endif %}
				<h3 class="card-title">{{names.Name}}</h3>
				<h5 >{{ names.Team }}</h5>
				<ul class="list-inline pt-3">
					<li class="list-inline-item p-2"><a class="faficon text-white" href="{{names.Facebook}}"><h5><i class="fa fa-facebook"></i></h5></a></li>
					{% if names.LinkedIn %}
					<li class="list-inline-item p-2"><a class="faficon text-white" href="{{names.LinkedIn}}"><h5><i class="fa fa-linkedin"></i></h5></a></li>
					{% else %}
					<li class="list-inline-item p-2"><h5><i class="fa fa-linkedin"></i></h5></li>
					{% endif %}
					<li class="list-inline-item p-2"><a class="faficon text-white" href="{{names.Email_Id}}"><h5><i class="fa fa-at"></i></h5></a></li>
				</ul>
				<h5><i class="fa fa-phone"></i> {{ names.Mobile_Number }}</h5>
			</div>
		</div>&nbsp
		<br>
	</div>
	
	{% endif %}
	{% endfor %}
</div>












