---
layout: page
title : workshops
permalink : /workshops/
---
<h1 class ="text-center"> Workshops </h1>
<br>
<div class="card-column">

	{% for post in site.posts %}
	{% if post.categories contains "workshops" %}
	
	<div class="card">
		{% if post.img %}
		<img class="card-img-top" src="../eventsimages/{{post.img}}" alt="{{post.title}}">
		{% endif %}
		<h4 class="card-title text-center"><b>{{post.title}}</b></h4>
		<div class="card-body">
			<b>{{post.date|date_to_string}}</b>
			{{post.content}}
			{% if post.link %}
			<center><a class="btn btn-warning btn-lg" href="{{post.link | uri_escape}}" target=_blank role="button">Link</a></center>
			{% endif %}
		</div>
	</div>
	{% endif %}
	<br>
{% endfor %}	
</div>

