<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
      </div>

      <div class="carousel-caption d-none d-md-block">
        <h1>Slide 1</h1>
        <p>Inspirational shit yo</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h1>Slide 2</h1>
        <p>More inspirational shit yo</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h1>Slide 3</h1>
        <p>The fact that so many books still name the Beatles as "the greatest or most significant or most influential" rock band ever only tells you how far rock music still is from becoming a serious art. Jazz critics have long recognized that the greatest jazz musicians of all times are Duke Ellington and John Coltrane, who were not the most famous or richest or best sellers of their times, let alone of all times. Classical critics rank the highly controversial Beethoven over classical musicians who were hi</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
