<div id="carIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carIndicators" data-slide-to="1"></li>
    <li data-target="#carIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card navy">

        <div class="row card-body speakers">

          <div class="col-md-5 col-sm-12 carousel-pic">
            <div class="car-img-container">
              <img class="car-img" src="{{site.basurl}}/assets/quotes/s1.jpg" alt="Simon Sinek">
            </div>
          </div>

          <div class="col-md-7 col-sm-12 carousel-text">
            <blockquote class="blockquote">
              <p>Dream big. Start small. But most of all, start.</p>
              <p class="blockquote-footer"><cite title="Simon Sinek">Simon Sinek</cite></p>
            </blockquote>
          </div>

        </div>

      </div>
    </div>

    <div class="carousel-item">
      <div class="card navy">

        <div class="row card-body speakers">

          <div class="col-md-5 col-sm-12 carousel-pic">
            <div class="car-img-container">
              <img class="car-img" src="{{site.basurl}}/assets/quotes/l1.jpg" alt="Karen Lamb">
            </div>
          </div>

          <div class="col-md-7 col-sm-12 carousel-text">
            <blockquote class="blockquote">
              <p>A year from now you will wish you had started today.</p>
              <p class="blockquote-footer"><cite title="Karen Lamb">Karen Lamb</cite></p>
            </blockquote>
          </div>

        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="card navy">

        <div class="row card-body speakers">

          <div class="col-md-5 col-sm-12 carousel-pic">
            <div class="car-img-container">
              <img class="car-img" src="{{site.basurl}}/assets/quotes/j1.jpg" alt="Steve Jobs">
            </div>
          </div>

          <div class="col-md-7 col-sm-12 carousel-text">
            <blockquote class="blockquote">
              <p>Innovation distinguishes between a leader and a follower.</p>
              <p class="blockquote-footer"><cite title="Steve Jobs">Steve Jobs</cite></p>
            </blockquote>
          </div>

        </div>

      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
