<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card navy">

        <div class="card-body">
          <div class="row speakers px-5">
            <div class="col-sm-12 col-md-4 centhack">
              <img src="{{site.baseurl}}/assets/quotes/lamb.jpg" alt="cap1" class="mx-auto" style="height:120; width:120">
            </div>
            <div class="col-sm-12 col-md-8">
              <center>
                <blockquote class="blockquote">
                  <p>A year from now you will wish you had started today.</p>
                  <p class="blockquote-footer"><cite title="Karen Lamb">Karen Lamb</cite></p>
                </blockquote>
              </center>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="carousel-item">
      <div class="card navy">

        <div class="card-body">
          <div class="row speakers px-5">
            <div class="col-sm-12 col-md-4 centhack">
              <img src="{{site.baseurl}}/assets/quotes/Simon_sinek.jpg" alt="By Startwithwhy - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=15986453" class="mx-auto" style="height:120; width:120">
            </div>
            <div class="col-sm-12 col-md-8">
              <center>
                <blockquote class="blockquote">
                  <p>Dream big. Start small. But most of all, start.</p>
                  <p class="blockquote-footer"><cite title="Simon Sinek">Simon Sinek</cite></p>
                </blockquote>
              </center>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="card navy">

        <div class="card-body">
          <div class="row speakers px-5">
            <div class="col-sm-12 col-md-4 centhack">
              <img src="{{site.baseurl}}/assets/quotes/jobs.jpg" alt="cap3" class="mx-auto" style="height:120; width:120">
            </div>
            <div class="col-sm-12 col-md-8">
              <center>
                <blockquote class="blockquote">
                  <p>Here's to the crazy ones. The misfits. The rebels. The troublemakers.
                    The round pegs in the square holes. The ones who see things differently.
                    They're not fond of rules. You can quote them, disagree with them,
                    glorify or vilify them. But the only thing you can't do is ignore them.
                    Because they change things. They push the human race forward. And while
                    some may see them as the crazy ones, we see genius. Because the people
                    who are crazy enough to think they can change the world, are the ones who do.</p>
                  <p class="blockquote-footer"><cite title="Steve Jobs">Steve Jobs</cite></p>
                </blockquote>
              </center>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
