<div id="contact" class="m-0 p-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="pb-5">Get in touch</h1>
      </div>

      <form class="col-sm-12 col-md-12" action="https://formspree.io/abhigyanghosh30@gmail.com" method="POST">
        <div class="row">
          <div class = "col-sm-12 col-md-4">
            <div class="form-group wide">
              <label for="contactname">Name</label>
              <input type="text" class="form-control" id="contactname" placeholder="John Doe">
            </div>
          </div>
          <div class = "col-sm-12 col-md-4">
            <div class="form-group wide">
              <label for="contactmail">Email address</label>
              <input type="email" class="form-control" id="contactmail" placeholder="name@example.com">
            </div>
          </div>
          <div class = "col-sm-12 col-md-4">
            <div class="form-group wide">
              <label for="contactsub">Subject</label>
              <input type="text" class="form-control" id="contactsub" placeholder="The website's great!">
            </div>
          </div>

          <div class = "col-sm-12 col-md-12">
            <div class="form-group wide">
              <label for="mailbody">Message</label>
              <textarea class="form-control" id="mailbody" rows="6"></textarea>
            </div>
          </div>

          <div class = "col-sm-12 col-md-12">
            <input type="submit" class="btn btn-light formbut coral wide" value="Send">
          </div>
            <input type="hidden" name="_cc" value="@gmail.com" />
            <input type="hidden" name="_next" value="http://127.0.0.1:4000/ECell_build1/"/>
        </div>
      </form>
    </div>
  </div>
</div>
