<!--
<div class="card col-sm-6 md-6">

    {% if post.img %}
        <img class="card-img-top" src="{{site.baseurl}}/assets/eventsimages/{{post.img}}" alt="{{post.title}}">
    {% endif %}

    <div class="card-body">
        <h4 class="card-title text-center"> <b>{{post.title}}</b> </h4>

        <b>{{post.date|date_to_string}}</b>

        {{post.content}}

        {% if post.link %}
            <center>
                <a class="btn btn-light wide coral white-text" href="{{post.link | uri_escape}}" target=_blank role="button" 
                    style="position: absolute;bottom: 0;left: 0;">Link</a>
            </center>
        {% endif %}
    </div>

</div>
-->
<div class="container-fix">

    {% if post.img %}
    <div class="video-fix">
        <div class="e-img-container">
            <img class="e-img mx-auto" src="{{site.baseurl}}/assets/eventsimages/{{post.img}}" alt="{{post.title}}">
        </div>
    </div>
    {% endif %}

    <div class="row heading-fix">
        <h3><b>
            {{ post.title }}
        </b></h3>
    </div>

    <div class="row content-fix">
        <div class="post-content">{{ post.content }}</div> 
    </div>
</div>
