<!-- TODO make a footer -->
<footer class="footer navy">
	<div class="container text-white">
		<div class="row text-center">
			<div class="col-xs-12 col-md-12 col-sm-12">
				<ul class="list-inline" style="font-size:25px; padding-top:20px">
					<li class="list-inline-item"><a href="#"><h1 class="fa fa-facebook"></h1></a></li>
					<li class="list-inline-item"><a href="#"><h1 class="fa fa-twitter"></h1></a></li>
					<li class="list-inline-item"><a href="#"><h1 class="fa fa-instagram"></h1></a></li>
					<li class="list-inline-item"><a href="#"><h1 class="fa fa-github"></h1></a></li>
				</ul>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-xs-12 col-sm-12 col-md-3">
				<h1>About</h1>
				<ul class="list-unstyled quick-links">
					<li><a href="#">Vision</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<h1>Events</h1>
				<ul class="list-unstyled quick-links">
					<li><a href="#">Talks</a></li>
					<li><a href="#">Workshops</a></li>
					<li><a href="#">Hackathons</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<h1>Reach Us</h1>
				<ul class="list-unstyled quick-links">
					<li>E-Cell, IIIT Hyderabad</li>
					<li>Gachibowli,</li>
					<li>Hyderabad</li>
					<li><i class="fa fa-phone"></i> 9007355023</li>
					<li><i class="fa fa-envelope"></i>  ecell@iiit.ac.in</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<a style="vertical-align:middle">
					<li class="list-unstyled quick-links"><img src="https://ecell.iiit.ac.in/static/images/logo-ecell2x.png" width="100%"></li>
				</a>
			</div>
		</div>
	</div>
</footer>
