<!-- TODO make a footer -->
<footer class="footer navy">
	<div class="container text-white">
		<div class="row text-center">
			<div class="col-xs-12 col-md-12 col-sm-12">
				<ul class="list-inline pt-3">
					<li class="list-inline-item p-2"><a class="faficon" href="#"><h2><i class="fa fa-facebook"></i></h2></a></li>
					<li class="list-inline-item p-2"><a class="faficon" href="#"><h2><i class="fa fa-instagram"></i></h2></a></li>
					<li class="list-inline-item p-2"><a class="faficon" href="#"><h2><i class="fa fa-twitter"></i></h2></a></li>
					<li class="list-inline-item p-2"><a class="faficon" href="#"><h2><i class="fa fa-linkedin"></i></h2></a></li>
					<li class="list-inline-item p-2"><a class="faficon" href="#"><h2><i class="fa fa-github"></i></h2></a></li>
				</ul>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-xs-12 col-sm-12 col-md-3">
				<h1>About</h1>
				<ul class="list-unstyled quick-links">
					<li><a href="{{site.baseurl}}/about/">About us</a></li>
					<li><a href="{{site.baseurl}}/team/">Team</a></li>
					<li><a href="{{site.baseurl}}/partners/">Partners</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<h1>Events</h1>
				<ul class="list-unstyled quick-links">
					<li><a href="{{site.baseurl}}/talks/">Talks</a></li>
					<li><a href="{{site.baseurl}}/workshops/">Workshops</a></li>
					<li><a href="{{site.baseurl}}/hackathons/">Hackathons</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<h1>Reach Us</h1>
				<ul class="list-unstyled quick-links">
					<li>E-Cell, IIIT Hyderabad</li>
					<li>Gachibowli,</li>
					<li>Hyderabad</li>
					<li><i class="fa fa-phone"></i> 9007355023</li>
					<li><a href="mailto:ecell@iiit.ac.in"><i class="fa fa-envelope"></i> ecell@iiit.ac.in</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<a style="vertical-align:middle">
					<li class="list-unstyled quick-links"><img src="https://ecell.iiit.ac.in/static/images/logo-ecell2x.png" width="100%"></li>
				</a>
			</div>
		</div>
	</div>
</footer>
