<footer class="footer navy">
	<div class="container text-white">
		<div class="row text-center">
			<div class="col-xs-12 col-md-12 col-sm-12">
				<ul class="list-inline pt-3">
					<li class="list-inline-item p-2"><a class="faficon" href="https://www.facebook.com/ecell.iiithyd/" target="_blank"><h2><i
								 class="fa fa-facebook"></i></h2></a></li>
					<li class="list-inline-item p-2"><a class="faficon" href="https://www.instagram.com/ecell_iiith/" target="_blank"><h2><i
								 class="fa fa-instagram"></i></h2></a></li>
					<li class="list-inline-item p-2"><a class="faficon" href="https://twitter.com/ecell_iiithyd" target="_blank"><h2><i
								 class="fa fa-twitter"></i></h2></a></li>
					<li class="list-inline-item p-2"><a class="faficon" href="https://www.youtube.com/channel/UCE8mniuxsSH_SVYTmKWxtfA"
						 target="_blank"><h2><i class="fa fa-youtube"></i></h2></a></li>
					<li class="list-inline-item p-2"><a class="faficon" href="https://github.com/IIIT-ECell/website" target="_blank"><h2><i
								 class="fa fa-github"></i></h2></a></li>
				</ul>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-xs-12 col-sm-12 col-md-3">
				<h1>About</h1>
				<ul class="list-unstyled quick-links">
					<li><a href="{{site.baseurl}}/about/">About us</a></li>
					<li><a href="{{site.baseurl}}/team/">Team</a></li>
					<li><a href="{{site.baseurl}}/partners/">Partners</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<h1>Events</h1>
				<ul class="list-unstyled quick-links">
					<li><a href="{{site.baseurl}}/talks/">Talks</a></li>
					<li><a href="{{site.baseurl}}/workshops/">Workshops</a></li>
					<li><a href="{{site.baseurl}}/hackathons/">Hackathons</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<h1>Reach Us</h1>
				<ul class="list-unstyled quick-links">
					<li>E-Cell, IIIT Hyderabad</li>
					<li>Gachibowli,</li>
					<li>Hyderabad</li>
					<li><i class="fa fa-phone"></i> <a href="tel:+918757251547">8757251547</a>, <a href="tel:+917023514340">7023514340</a></li>
					<li><a href="mailto:ecell@iiit.ac.in"><i class="fa fa-envelope"></i> ecell@iiit.ac.in</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<a style="vertical-align:middle">
					<li class="list-unstyled quick-links">
						{% for file in site.static_files %} {% if file.path contains "logo-ecell2x.png" %}
						<img src="{{site.baseurl}}{{file.path}}" width="100%"> {% endif %} {% endfor %}
					</li>
				</a>
			</div>
		</div>
	</div>
</footer>