<!-- TODO make a header -->
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top navy py-0">

    <!-- TODO 1. Get the Icon, 2. Also behaves as home -->
    <a class="navbar-brand" href="{{site.baseurl}}/">
      <img src="https://ecell.iiit.ac.in/static/images/logo-ecell.png" height="40">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{site.baseurl}}/#blog">Blog</a> <!-- TODO link -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/about/">About Us</a> <!-- TODO link -->
        </li>
        <li class="nav-item dropdown show"> <!-- TODO links -->
          <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Initiatives</a>

          <div class="dropdown-menu navy" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item white-text" href="#">Megathon</a>
            <a class="dropdown-item white-text" href="#">Startup-Aid</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item white-text" href="#">E-Cell Alpha Labs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item white-text" href="#">So you think you can pitch</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item white-text" href="{{site.baseurl}}/talks/">Talks</a>
            <a class="dropdown-item white-text" href="{{site.baseurl}}/hackathons/">Hackathons</a>
            <a class="dropdown-item white-text" href="{{site.baseurl}}/workshops/">Workshops</a>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a> <!-- TODO link -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Partners</a> <!-- TODO link -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/#contact">Contact Us</a> <!-- TODO link -->
        </li>
      </ul>

    </div>
  </nav>
</header>
