<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="{{ "/js/animations.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/navscroll.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript">
	function checkActiveNav()
	{
		var pagename = "{{page.title}}";
		console.log(pagename);
		document.getElementById("contactus").classList.remove("active");
		document.getElementById("home").classList.remove("active");
		if(pagename =="Index")
		{
			var pageUrl=window.location.pathname;
			pageUrl += window.location.hash;
			if(pageUrl == "{{site.baseurl}}/#contact")
			{
				document.getElementById("contactus").classList.add("active");
				document.getElementById("home").classList.remove("active");
			}
			else if(pageUrl == "{{site.baseurl}}/")
			{
				document.getElementById("home").classList.add("active");
				document.getElementById("contactus").classList.remove("active");
			}
		}
		else
		if(pagename=="The Crew")
			document.getElementById("team").classList.add("active");
		if(pagename =="About Us")
			document.getElementById("about").classList.add("active");
		else
		if(pagename =="Blogs")
			document.getElementById("blog").classList.add("active");
		else
		if(pagename =="Partners and Associates")
			document.getElementById("partners").classList.add("active");
	};
	
	$(document).ready(checkActiveNav);
</script>
