<script src="../js/wordslice.js"></script>
<script>
  window.manualSliceInterval = setInterval(window.manualSlice, 100);
</script>

<div id="recents" class="row neutral p-5">
  <a class="clink col-sm-12" href="{{site.baseurl}}/blogs/" target="_blank">
    <!-- this class makes both "Recent Blogs" and "Recent Events" look the same -->
    <h1 class="pb-4">Recent Blogs</h1>
  </a>
  {% assign limval = 0 %}
  {% for post in site.posts %}
    {% if limval == 2 %}
      {% break %}
    {% endif %}
  {% if post.categories contains 'blogs' %}
    {% if limval == 1 %}
      {% assign limval = 2 %}
    {% else %}
      {% assign limval = 1 %}
  {% endif %}

  <div class="container-fix">

    <div class="row video-fix">
      <div class="e-img-container">
        <img class="e-img mx-auto" src="{{site.baseurl}}/blogs/images/{{post.img}}">
      </div>
    </div>
      
    <div class="row heading-fix">
      <h4> <b>
          <a class="clink" href="{{site.baseurl}}{{post.url}}" target="_blank">{{post.title}}</a>
      </b> </h4>
    </div>

    <div class="row content-fix">
      <p>
      {{post.date | date_to_string}} by {{post.author}}
      </p>
      <br>
      <div class="post-content">{{post.content}}</div>
      <b><a href ="{{site.baseurl}}{{post.url}}" target ="_blank">Read more</a></b>      
    </div>

  </div>

    {% endif %}
  {% endfor %}
</div>

<div id="recents1" class="row mountain white-text p-5" style="overflow:hidden;">
  <h1 class="col-sm-12 col-md-12 pb-4">Recent Events</h1>

  {% assign limval = 0 %}
  {% for post in site.posts %}
    {% if limval == 2 %}
      {% break %}
    {% endif %}
    {% if post.categories contains 'events' %}
      {% if limval == 1 %}
        {% assign limval = 2 %}
      {% else %}
        {% assign limval = 1 %}
    {% endif %}

  <div class="container-fix">

    <div class="row video-fix-rev">
      <div class="e-img-container">
          <img class="e-img mx-auto" src="{{site.baseurl}}/assets/eventsimages/{{post.img}}">
      </div>
    </div>
      
    <div class="row heading-fix-rev">
      <h4> <b>
          <a class="clink-rev" href="{{site.baseurl}}{{post.url}}" target="_blank">{{post.title}}</a>
      </b> </h4>
    </div>

    <div class="row content-fix-rev">
      <p>
      {{post.date | date_to_string}}
      </p>
      <br>
      <div class="post-content">{{post.content}}</div>
      <b><a href ="{{site.baseurl}}{{post.url}}" target ="_blank">Read more</a></b>
    </div>
  </div>

    {% endif %}
  {% endfor %}
</div>

