<div id="recents" class="row neutral p-5">
  <a class="clink col-sm-12" href="{{site.baseurl}}/blogs/" target="_blank">
    <h1>Recent Blogs</h1>
  </a>
  {% assign limval = 0 %}
  {% for post in site.posts %}
    {% if limval == 2 %}
      {% break %}
    {% endif %}
    {% if post.categories contains 'blogs' %}
      {% if limval == 1 %}
        {% assign limval = 2 %}
      {% else %}
        {% assign limval = 1 %}
      {% endif %}
    <div class="col-md-4 col-sm-12 my-2 e-img-container">
      <img class="e-img mx-auto" src="{{site.baseurl}}/blogs/images/{{post.img}}">
    </div>
  	<div class = "col-md-8 col-sm-12">
    	<h3>
        <b>
          <a class="clink" href="{{site.baseurl}}{{post.url}}" target="_blank">{{post.title}}
          </a>
        </b>
      </h3>
    	<p>
        {{post.date|date_to_string}} by {{post.author}}
        <br>
    	  {{post.content|slice : 0,250}} <a class="clink" href="{{site.baseurl}}{{post.url}}" target="_blank">... [Read more]</a>
      </p>
  	</div>
    {% endif %}
  {% endfor %}
</div>

<div id="recents1" class="row mountain white-text p-5" style="overflow:hidden;">
  <h1 class="col-sm-12 col-md-12 pb-4">Recent Events</h1>

  {% assign limval = 0 %}
  {% for post in site.posts %}
    {% if limval == 2 %}
      {% break %}
    {% endif %}
    {% if post.categories contains 'events' %}
      {% if limval == 1 %}
        {% assign limval = 2 %}
      {% else %}
        {% assign limval = 1 %}
      {% endif %}
  	<div class = "col-md-8 col-sm-12 py-2">
    	<h3>
        <b>
          <a href="{{site.baseurl}}{{post.url}}" target="_blank">
            {{post.title}}
          </a>
        </b>
      </h3>
    	<p>{{post.date|date_to_string}}<br>
    	{{post.content|slice : 0,250}} <a href="{{site.baseurl}}{{post.url}}" target="_blank">... [Read more]</a>
      </p>
  	</div>
    <div class="col-md-4 col-sm-12 my-2 e-img-container">
      <img class="e-img mx-auto" src="{{site.baseurl}}/assets/eventsimages/{{post.img}}">
    </div>
    {% endif %}
  {% endfor %}
</div>
