<div id="portfolio" class="navy">
  <div class="port row">
    <div class="col-xs-12 col-sm-6 col-md-3 showcase p-0">
      {% for file in site.static_files %}
        {% if file.path contains "megathon.jpg" %}
        <img class="showcase-img" src="{{site.baseurl}}{{file.path}}" alt="{{file.basename}}">
        {% endif %}
      {% endfor %}
      <div class="overlay-show navy"></div>
      <a href="#" class="overlay-text"><h4>Megathon</h4></a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 showcase p-0">
      {% for file in site.static_files %}
        {% if file.path contains "talks.JPG" %}
        <img class="showcase-img" src="{{site.baseurl}}{{file.path}}" alt="{{file.basename}}">
        {% endif %}
      {% endfor %}
      <div class="overlay-show navy"></div>
      <a class="overlay-text" href="{{site.baseurl}}/talks/"><h4>Talks</h4></a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 showcase p-0">
      {% for file in site.static_files %}
        {% if file.path contains "workshophadoop.jpg" %}
        <img class="showcase-img" src="{{site.baseurl}}{{file.path}}" alt="{{file.basename}}">
        {% endif %}
      {% endfor %}
      <div class="overlay-show navy"></div>
      <a class="overlay-text" href="{{site.baseurl}}/workshops/"><h4>Workshops</h4></a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 showcase p-0">
      {% for file in site.static_files %}
        {% if file.path contains "hackathon.jpg" %}
        <img class="showcase-img" src="{{site.baseurl}}{{file.path}}" alt="{{file.basename}}">
        {% endif %}
      {% endfor %}
      <div class="overlay-show navy"></div>
      <a class="overlay-text" href="{{site.baseurl}}/hackathons/"><h4>Hackathons</h4></a>
    </div>

    <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 showcase p-0">
      {% for file in site.static_files %}
        {% if file.path contains "megathon.jpg" %}
        <img class="showcase-img" src="{{site.baseurl}}{{file.path}}" alt="{{file.basename}}">
        {% endif %}
      {% endfor %}
      <div class="overlay-show navy"></div>
      <a class="overlay-text" href="{{site.baseurl}}/hackathons/"><h4>Startup Aid</h4></a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 showcase p-0">
      {% for file in site.static_files %}
        {% if file.path contains "talks.JPG" %}
        <img class="showcase-img" src="{{site.baseurl}}{{file.path}}" alt="{{file.basename}}">
        {% endif %}
      {% endfor %}
      <div class="overlay-show navy"></div>
      <a class="overlay-text" href="{{site.baseurl}}/hackathons/"><h4>Alpha labs</h4></a>
    </div> -->

  </div>

  <div id="count-1" class="port row p-5 white">
    <div class="col-sm-6 col-md-3 counter p-5">
      <div class="d-flex show">
        <div class="numeric" count="60000">0</div>
        <h1 class="mid">+</h1>
      </div>
      <div class="count-caption">People Reached</div>
    </div>
    <div class="col-sm-6 col-md-3 counter p-5">
      <div class="d-flex show">
        <div class="numeric" count="250">0</div>
        <h1 class="mid">+</h1>
      </div>
      <div class="count-caption">Ideas Pitched</div>
    </div>
    <div class="col-sm-6 col-md-3 counter p-5">
      <div class="d-flex show">
        <div class="numeric" count="30">0</div>
        <h1 class="mid">+</h1>
      </div>
      <div class="count-caption">Events Organised</div>
    </div>
    <div class="col-sm-6 col-md-3 counter p-5">
      <div class="d-flex show">
        <div class="numeric" count="20">0</div>
        <h1 class="mid">+</h1>
      </div>
      <div class="count-caption">Speakers</div>
    </div>

  </div>

</div>
