<div id="portfolio" class="navy">
  <div class="port row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 showcase coral">
      <a href="#"><h4>Megathon</h4></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 showcase navy">
      <a href="{{site.baseurl}}/talks/"><h4>Talks</h4></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 showcase mountain">
      <a href="{{site.baseurl}}/workshops/"><h4>Workshops</h4></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 showcase navy">
      <a href="{{site.baseurl}}/hackathons/"><h4>Hackathons</h4></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 showcase mountain">
      <a href="{{site.baseurl}}/hackathons/"><h4>Startup Aid</h4></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 showcase coral">
      <a href="{{site.baseurl}}/hackathons/"><h4>Alpha Labs</h4></a>
    </div>
  </div>

  <div id="count-1" class="port row p-5 white">
    <div class="col-sm-6 col-md-3 counter p-5">
      <div class="numeric" count="10000">0</div>
      <div class="count-caption">metric 1</div>
    </div>
    <div class="col-sm-6 col-md-3 counter p-5">
      <div class="numeric" count="100">0</div>
      <div class="count-caption">metric 2</div>
    </div>
    <div class="col-sm-6 col-md-3 counter p-5">
      <div class="numeric" count="10">0</div>
      <div class="count-caption">metric 3</div>
    </div>
    <div class="col-sm-6 col-md-3 counter p-5">
      <div class="numeric" count="1000">0</div>
      <div class="count-caption">metric 4</div>
    </div>

  </div>

</div>
