<style type="text/css">
.typewriter {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}	
@keyframes caret {
  50% {
    border-color: transparent;
  }
}

</style>
<div class="col-sm-12 typewritter">
        <br>
        <h2 class="l-head headline" id="animatedText"></h2>
        <h2></h2>
</div>

<script type="text/javascript">

    let text = [ " Making Ideas Happen. ", " You will never learn anything by doing it right. ", " Create your own future. "];
    let i = 0, del = 100, clearDel = 60, toPrint = 0, called = false;
    let txt, typeText;
    let para = document.getElementById("animatedText");

    function type() {
        called = true;
        typeText = text[toPrint];
        del = 3500 / typeText.length;
        i++;
        txt = typeText.substring(0, i);
        if(i % 2)
            txt += "|";
        para.innerHTML = txt;
        typeIt = setTimeout("type()", del);
        if(i == typeText.length) {
            for(k = 0; k < 500000000; k++);
            clearTimeout(typeIt);
            unType(toPrint);
        }
    }

    function unType() {
        typeText = text[toPrint];
        clearDel = 1000 / typeText.length;
        i--;
        txt = typeText.substring(0, i);
        if(i % 2)
            txt += "|";
        para.innerHTML = txt;
        clearIt = setTimeout("unType()", clearDel);
        if(i == 0) {
            i = 1;
            clearTimeout(clearIt);
            toPrint++;
            if(toPrint == text.length)
                toPrint = 0;
            type(toPrint);
        }
    }

    if(called === false) {
        type(toPrint);
    }
</script>
