---
layout: page
---

<!-- <div class="container">
	<div class="row text-center">
		<div class="col-md-6 col-xs-12 col-sm-12">
			<ul class="list-inline">
				<li class="list-inline-item"><span><p class="fa fa-lightbulb-o" style="font-size: 5em;"></p></span></li>
				<li class="list-inline-item"><span><p class="fa fa-handshake-o" style="font-size: 5em;"></p></span></li>
			</ul>
			<ul class="list-inline">
				<li class="list-inline-item"><span><p class="fa fa-line-chart" style="font-size: 5em;"></p></span></li>
				<li class="list-inline-item"><span><p class="fa fa-paper-plane-o" style="font-size: 5em;"></p></span></li>
			</ul>
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12 text-justify">
			{{content}}
		</div>
	</div>
</div> -->

<div class="row vision pb-5 px-5">
	<div class="col-md-4 col-sm-12 img-container-wide">
		<img class="img-wide" src="{{site.baseurl}}/assets/eventsimages/womensday.jpg" alt="Megathon">
	</div>
	<div class="col-md-8 col-sm-12">
		<h1>Our Vision</h1>
		Entrepreneurship Cell, IIIT Hyderabad is a non-profit organization run by
		students, and has been established with the objective of creating, manifesting
		and guiding the entrepreneurial spirit in the student community and to encourage
		them to be successful entrepreneurs. We want to build an ecosystem where
		networking and knowledge sharing can happen. To this end, we conduct several
		events, seminars and workshops both for students of and beyond our college
		for the purpose of cultivating this entrepreneurial spirit.
	</div>
</div>

<div class="row motiv p-5">
	<div class="col-md-8 col-sm-12">
		<h1>What Motivates Us</h1>
		Turning ideas into reality is the sorcery that is best left to entrepreneurs.
		And we love helping out in spreading this art, because we believe that we need
		to realise and utilise the potential of the youth to reach new levels and open
		up new possibilities. For this we conduct numerous workshops, seminars, events
		and interactive sessions with eminent entrepreneurs, thus, providing the
		students exposure to the entrepreneurial world along with a platform to work
		on the live projects from start-ups.
	</div>
	<div class="col-md-4 col-sm-12 img-container-wide">
		<img class=" img-wide" src="{{site.baseurl}}/assets/eventsimages/megathon-carousel-1.jpg" alt="Megathon">
	</div>
</div>


<!-- <div class="row achievents p-5">
	<div class="col-md-4 col-sm-12 img-container-wide">
		<img class=" img-wide" src="{{site.baseurl}}/assets/eventsimages/megathon-carousel-5.jpg" alt="Megathon">
	</div>
	<div class="col-md-8 col-sm-12">
		<h1>Achievements</h1>
		Lorem Ipsum pro totalis olipsia. Fres Isto unk lessis. Iros lefin rubus.
		Lorem Ipsum pro totalis olipsia. Fres Isto unk lessis. Iros lefin rubus.
		Lorem Ipsum pro totalis olipsia. Fres Isto unk lessis. Iros lefin rubus.
		Lorem Ipsum pro totalis olipsia. Fres Isto unk lessis. Iros lefin rubus.
		Lorem Ipsum pro totalis olipsia. Fres Isto unk lessis. Iros lefin rubus.
		Lorem Ipsum pro totalis olipsia. Fres Isto unk lessis. Iros lefin rubus.
		Lorem Ipsum pro totalis olipsia. Fres Isto unk lessis. Iros lefin rubus.
	</div>
</div>

<div class="start mb-5">
	<h1 class="text-center">Some Startups from IIIT</h1>
</div> -->
