---
layout: wrapper
---


<div class="container content mt-5 p-2 pt-4">
	<!-- TODO a title + subtitle + date etc feature -->

	{% include bloghead.html %}
	<!-- TODO the post body goes here -->
  	<br>
  	{% if page.categories contains "blogs" %}
  	<img class="img-fluid mb-4" src="../images/{{page.img}}" alt="{{page.title}}">
  	{% else %}
  	<img class="img-fluid mb-4" src="/assets/eventsimages/{{page.img}}" alt="{{page.title}}">
  	{% endif %}
	<br>
  	<div class="ser ser-body">{{page.content}}</div>
	{% include blogfoot.html %}
</div>
