---
layout: wrapper
---

<div class="blog-post container content mt-5 p-2 pt-4">
	{% include bloghead.html %}	
  	<br>
  	
	
  	<div class="ser-body blog-content">
			
			<div class="blog-splash-image">
					{% if page.categories contains "blogs" %}
					<img class="img-fluid mb-4" src="../images/{{page.img}}" alt="{{page.title}}">
					{% else %}
					<img class="img-fluid mb-4" src="/assets/eventsimages/{{page.img}}" alt="{{page.title}}">
					{% endif %}	 
			</div>
			
		{{page.content}}
	</div>
	{% include blogfoot.html %}
</div>
