---
layout : page
---

<!-- <h1 class="text-center">Blogs</h1>
 --><br>
<div class= "row">

	{% for post in site.posts %}
	{% if post.categories contains "blogs" %}
	<div class ="col-md-6 sm-6">
		<b><h1><a href = "{{site.baseurl}}{{post.url}}" target ="_blank">{{post.title}}</a></h1></b>
		<h4><i>Read{{post.subtitle}}</i></h4>
		<h6>Posted on {{post.date|date_to_string}}</h6>
		<p>{{post.content|slice : 0,250}} ...<b><a href ="{{site.baseurl}}{{post.url}}" target ="_blank">[Read more]</a></b></p>
		<br>
		<hr>
	</div>
	{% endif %}
	{% endfor %}
</div>
<!-- 	<h1 class="text-center">Events</h1>
	<br>

<div class="row">
	{% for post in site.posts %}
	{% if post.categories contains "events" %}
	<div class ="col-md-6 sm-6">
		<b><h1><a href = "{{site.baseurl}}{{post.url}}" target ="_blank">{{post.title}}</a></h1></b>
		<h4><i>Read{{post.subtitle}}</i></h4>
		<h6>Posted on {{post.date|date_to_string}}</h6>
		<p>{{post.content|slice : 0,250}} ...<b><a href ="{{site.baseurl}}{{post.url}}" target ="_blank">[Read more]</a></b></p>
		<br>
		<hr>
	</div>
	{% endif %}
	{% endfor %}
</div>
 -->