---
layout: wrapper
---


<div class="container content mt-5 p-2">
	<!-- TODO a title + subtitle + date etc feature -->

	{% include bloghead.html %}
	<!-- TODO the post body goes here -->
	{{page.content}}

	{% include blogfoot.html %}
	<div class = row>
		<div class ="col-md-6 sm-6">
			<div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="10"></div>
	  <!-- <div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="button_count" style="position: relative; top: -8px; left: 33px;"></div>
	  <hr> -->
		</div>
	  <div class ="col-md-6 sm-6 mx-auto">
		  <div class="share-page">
		  Share this on &rarr;<br>
		  	<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}/{{site.baseurl}}/{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a> &nbsp
		  	<a href="https://facebook.com/sharer.php?u={{ site.url }}/{{site.baseurl}}/{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a> &nbsp
		  	<a href="https://plus.google.com/share?url={{ site.url }}/{{site.baseurl}}/{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google"></i></a> &nbsp
		  </div>
	  </div>
  </div>
  <br>
  <a href = "{{site.baseurl}}/blogs/" target ="_blank"><h3> More trending blogs </h3></a>
  <br>
  <div class = row>

  	{% for post in site.posts limit :4%}
  	{% if post.categories contains "events" %}
  	{% if post.url == page.url %}
  	{% continue %}
  	{% endif %}
  	<div class = "col-md-6 sm-6">
  		<h6><b><u><a href="{{site.baseurl}}{{post.url}}" target="_blank">{{post.title}}</a></b></u></h6>
  		<p>{{post.date|date_to_string}}<br>
  			{{post.content|slice : 0,100}} <a href="{{site.baseurl}}{{post.url}}" target="_blank">...</a></p>
  			<br>
  		</div>
  		{% endif %}
  		{% endfor %}
  	</div>
  </div>
