<!doctype html>
<html lang="en">

{% include head.html %}
<link rel="stylesheet" href="{{site.baseurl}}/css/fail.css">


</style>
<body class="raleway black">
    <div id="landing">
        
    </div>
    <div class="wrapper" style="display:none">
        <nav id="sidebar">
            <div class="sidebar-header">
            </div>
            <ul class="list-unstyled components text-center">
                    <img src="/assets/logos/fail_logo.png" class="img-fluid">
                    <h3>moments we dont usually share</h3>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Speakers</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#speaker1">Ajay Kumar</a>
                        </li>
                        <li>
                            <a href="#speaker2">Pankhuri</a>
                        </li>
                        <li>
                            <a href="#speaker3">Speaker 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div id="navbar">
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark"> -->
                <button type="button" id="sidebarCollapse" class="btn">
                    <h2><i class="fas fa-bars"></i></h2>
                    <!-- <span>Toggle Sidebar</span> -->
                </button>
            <!-- </nav> -->
        </div>
        
        <div id="content" class="container-fluid">
            <div id="about" class="section">
                <h2 class="text-center m-5">About FAIL!</h2>
                <p class="text-white p-5">
                    FAIL! is an initiative started from an international group of students at Massachusetts Institute of Technology (MIT). FAIL! has inspired people in Europe, and North America and now we are proud to bring it to Asia.
                    <br>
                    <br>FAIL! is an event aimed at embracing failures rather than giving up at them, hiding them, or ignoring the lessons they teach us. It is a celebration of the moments we generally don't share.
                    <br>
                    <br>Failure can happen to anyone, anywhere, and is a key to success. A misstep can happen to even professionals, experts, CEO’s, or professors. We bring them to FAIL! to share the meaning of their personal and professional failures and to understand the deeper meaning of failures.
                    <br>
                    <br>We have invited Indian youth icons from all over the country as far as Jammu to talk about the times they've had a setback in their lives, when they've fallen face first, and how they recovered and learned from these experiences.
                </p>
            </div>
            <div id="speaker1" class="container section">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="img-fluid speaker-image" src="{{site.baseurl}}/assets/speakers/ajay_spekarer-1.png">
                    </div>
                    <div class="col-sm-6">
                        <h2 class="text-center m-4">Ajay Kumar Siotra</h2>
                        <p class="text-white p-5">
                            Ajay Kumar Siotra, one of Jammu's budding Entrepreneurs and owner of Cafe Scoorervala. An inspiration to many!
                            <br>
                            His passion for cooking reflected in his food. His MasterChef India apron was a mark of his determination.
                            <br>
                            Hurdling through the societal norms, Siotra followed his dreams. Elimination from the competition was a fall, but that definitely was his stepping stone to a bright future.
                            <br>
                            He will be sharing his experiences and failures on 2nd March 2019 at IIIT, Hyderabad.
                            <br>
                            <a href="https://goo.gl/forms/uZVSufmysL05GRB42" style="color:#bba559"><button class="btn">RSVP here</button></a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="speaker2" class="container section">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="text-center m-4">Pankhuri Gidwani</h2>
                        <p class="text-white p-5">
                            Ajay Kumar Siotra, one of Jammu's budding Entrepreneurs and owner of Cafe Scoorervala. An inspiration to many!
                            <br>
                            His passion for cooking reflected in his food. His MasterChef India apron was a mark of his determination.
                            <br>
                            Hurdling through the societal norms, Siotra followed his dreams. Elimination from the competition was a fall, but that definitely was his stepping stone to a bright future.
                            <br>
                            He will be sharing his experiences and failures on 2nd March 2019 at IIIT, Hyderabad.
                            <br>
                            <a href="https://goo.gl/forms/uZVSufmysL05GRB42" style="color:#bba559"><button class="btn">RSVP here</button></a>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <img class="img-fluid speaker-image" src="/assets/speakers/pnkhuri_spekarer.png">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer" id="contact">
        <div class="row text-center">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <ul class="list-inline pt-3">
                    <li class="list-inline-item p-2"><a class="faficon" href="https://www.facebook.com/ecell.iiithyd/" target="_blank"><h2><i class="fab fa-facebook"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://www.instagram.com/ecell_iiith/" target="_blank"><h2><i class="fab fa-instagram"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://twitter.com/ecell_iiithyd" target="_blank"><h2><i class="fab fa-twitter"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://www.youtube.com/channel/UCE8mniuxsSH_SVYTmKWxtfA" target="_blank"><h2><i class="fab fa-youtube"></i></h2></a></li>
                    <li class="list-inline-item p-2"><a class="faficon" href="https://github.com/IIIT-ECell" target="_blank"><h2><i class="fab fa-github"></i></h2></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/vendors/scrolloverflow.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.extensions.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.js"></script>
<script>
    var lastScrollTop = 0;
    $(document).scroll(function(event){
        event.preventDefault();
        var st = $(this).scrollTop();
        if (st > lastScrollTop){
            $("#landing").slideUp(()=>{
                $(".wrapper").slideDown();
            });
            // document.getElementById("#about").scrollIntoView();
        }
        lastScrollTop = st;
    });
    $(document).ready(function () {
        // $("#sidebar").mCustomScrollbar({
        //     theme: "minimal"
        // });
        $("#sidebarCollapse").on("click",function () {
            $('#sidebar').toggleClass('active');
            // close dropdowns
            $('.collapse.in').toggleClass('in');
            // and also adjust aria-expanded attributes we use for the open/closed arrows
            // in our CSS
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
    $("#landing").ready(()=>{
        setTimeout(()=>{
            $("#landing").slideUp(()=>{
                $(".wrapper").slideDown();
            });
        },10010);
    });
</script>
</html>