---
layout: wrapper
---

<link href="../css/startup-aid.css" rel="stylesheet">
<div class="full-page landing-full-page">
    <div class="landing">
        <img src="https://placehold.it/500x150" alt="" class="landing-logo">
        <h1 class="landing-header">HAVE AN IDEA?</h1>
        <button class="cta-1">Let's get started!</button>
    </div>
</div>
<div class="full-page full-page-idea-list">
    <div class="idea-list-container">
        <h1 class="top-level-header">ALL you need is an IDEA!</h1>
        <h2>Here's some cool examples:</h2>
        <div class="idea-list">
            <div>I want to make good and cheap sandwiches available to everyone</div>
            <div>I want to solve the energy crisis with biogas!</div>
            <div>I want to automate daily life chores!</div>
            <div>I want to efficiently clean lakes.</div>
        </div>
        <button class="cta-2">Yeah, I have an idea!</button>
    </div>
</div>
<div class="full-page timeline-full-page">
    <div class="timeline-container">
        <h1 class="medium-level-header">This is how your journey will look like</h1>
        <div class="timeline">
            <div class="sprint"><h3>Sprint 1</h3><span>Brainstorm and refine your idea.</span></div>
            <div class="sprint"><h3>Sprint 2</h3><span>Do a detailed market analysis.</span></div>
            <div class="sprint"><h3>Sprint 3</h3><span>Learn how to obtain funds, manage a team.</span></div>
            <div class="sprint"><h3>Sprint 4</h3><span>Get ready to pitch to CIE.</span></div>
        </div>
        <button class="cta-3">Apply now!</button>
    </div>
    -</div>
<div class="full-page form-application">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd6VeW-D_S4Tj8nME0IiAs3G4UP3aDMzsUQE9XB2nDQSp2wzA/viewform?embedded=true" width="640" height="952" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

<script src="../js/landingscroll.js"></script>
