---
layout: wrapper
---

<link href="../css/startup-aid.css" rel="stylesheet">
<div class="full-page landing-full-page">
    <div class="landing">
        <img src="https://placehold.it/500x150" alt="" class="main-logo">
        <h1 class="landing-header">HAVE AN IDEA?</h1>
        <button class="cta-1">Let's get started!</button>
    </div>
</div>
<div class="full-page full-page-idea-list">
    <div class="idea-list-container">
        <h1 class="top-level-header">ALL you need is an IDEA!</h1>
        <h2>Here's some cool examples:</h2>
        <div class="idea-list">
            <div><span class="text">I want to make good and cheap sandwiches available to everyone</span></div>
            <div><span class="text">I want to solve the energy crisis with biogas!</span></div>
            <div><span class="text">I want to automate daily life chores!</span></div>
            <div><span class="text">I want to efficiently clean lakes.</span></div>
        </div>
        <button class="cta-2">Yeah, I have an idea!</button>
    </div>
</div>
<script src="../js/landingscroll.js"></script>
