---
layout: page
---

<div class="row">

	{% for post in site.posts %}
		{% if post.categories contains "talk_session" %}

			<div class="card col-sm-12 col-md-6 col-xs-12">
				{% if post.img %}
				<img class="card-img-top" src="../eventsimages/{{post.img}}" alt="{{post.title}}">
				{% endif %}
				<div class="card-body">
				<h4 class="card-title text-center"><b>{{post.title}}</b></h4>
				
					<b>{{post.date|date_to_string}}	</b>		{{post.content}}
				</div>
			</div>

		{% endif %}
		<br>
	{% endfor %}
</div>
