---
layout : wrapper
---
{% include pagehead.html %}
<!-- <div class="mountain m-0 py-3">

	<h2 class = "text-center p-3 white-text">Core Team</h2>

	<div class="row text-center white-text m-0">
		{% for names in site.data.team %}

			{% if names.Core %}
				{% include profilecard.html %}
			{% endif %}

		{% endfor %}
	</div>
</div>

<div>
	<h2 class = "text-center p-5">Members</h2>

	<div class="row text-center white-text m-0">
		{% for names in site.data.team %}

			{% if names.Core %}
				{% continue %}
			{% else %}
				{% include profilecard.html %}
			{% endif %}

		{% endfor %}
	</div>
</div> -->
<div class="row">

	<div class="col-sm-12 col-md-3 prow prow-head">
		<h2>Overall Heads</h2><br>
	</div>
	<div class="col-sm-12 col-md-9 p-4">
		<div class="row prow">
				{% for names in site.data.team %}
				{% if names.Team == "Overall Head" %}
				<div class ="col-lg-4 col-md-6 col-sm-6 col-xs-12 pcol">
				{% include profilecard.html %}
				</div>
				{% endif %}
				{% endfor %}
		</div>
	</div>

</div>

<div class="row">

	<div class="col-sm-12 col-md-3 prow prow-head">
		<h2>Corporate Relations</h2><br>
	</div>
	<div class="col-sm-12 col-md-9 p-4">
		<div class="row prow">
				{% for names in site.data.team %}
				{% if names.Team == "Corporate Relations" %}
				<div class ="col-md-4 col-sm-6 col-xs-12 pcol">
				{% include profilecard.html %}
				</div>
				{% endif %}
				{% endfor %}
		</div>
	</div>

</div>

<div class="row">

	<div class="col-sm-12 col-md-3 prow prow-head">
		<h2>Marketing</h2><br>
	</div>
	<div class="col-sm-12 col-md-9">
		<div class="row prow">
				{% for names in site.data.team %}
				{% if names.Team == "Marketing" %}
				<div class ="col-lg-3 col-md-4 col-sm-6 col-xs-12 pcol">
				{% include profilecard.html %}
				</div>
				{% endif %}
				{% endfor %}
		</div>
	</div>

</div>

<div class="row">

	<div class="col-sm-12 col-md-3 prow prow-head">
		<h2>Corporate Relations</h2><br>
	</div>
	<div class="col-sm-12 col-md-9">
		<div class="row prow">
				{% for names in site.data.team %}
				{% if names.Team == "Corporate Relations" %}
				<div class ="col-lg-3 col-md-4 col-sm-6 col-xs-12 pcol">
				{% include profilecard.html %}
				</div>
				{% endif %}
				{% endfor %}
		</div>
	</div>

</div>


<div class="row">

	<div class="col-sm-12 col-md-2 prow prow-head">
		<h2>Corporate Relations</h2><br>
	</div>
	<div class="col-sm-12 col-md-10">
		<div class="row prow">
				{% for names in site.data.team %}
				{% if names.Team == "Corporate Relations" %}
				<div class ="col-lg-3 col-md-4 col-sm-6 col-xs-12 pcol p-0 my-2">
				{% include profilecard.html %}
				</div>
				{% endif %}
				{% endfor %}
		</div>
	</div>

</div>
