---
layout : wrapper
---
{% include pagehead.html %}


{% assign alternater = false %}
{% for cat in site.data.loopteamcat %}
<div class="row prow-major">
	<div class="col-sm-12 col-md-3 prow prow-head">
		<h2 class="l-head">{{cat.cat}}</h2><br>
	</div>
	{% if cat.cat == "Overall Head" %}
	<div class="col-sm-12 col-md-9 p-4 mountain">
	{% else %}

		{% if alternater == true %}
			<div class="col-sm-12 col-md-9 p-4 neutral">
			{% assign alternater = false %}
		{% else %}
			<div class="col-sm-12 col-md-9 p-4 white">
			{% assign alternater = true %}
		{% endif %}

	{% endif %}
		<div class="row prow">
			{% for names in site.data.team %}
				{% if names.Team == cat.cat %}
					{% include profilecard.html %}
				{% endif %}
			{% endfor %}
		</div>
	</div>

</div>
{% endfor %}

</div>
