---
layout : wrapper
---
{% include pagehead.html %}
<div class="mountain mt-0">
	<h2 class = "text-center p-5">Core Team</h2>

	<div class="row text-center white-text">
		{% for names in site.data.team %}

			{% if names.Core %}
				{% include profilecard.html %}
			{% endif %}

		{% endfor %}
	</div>
</div>

<div>
	<h2 class = "text-center">Members</h2>

	<div class="row text-center text-white">
		{% for names in site.data.team %}

			{% if names.Core %}
				{% continue %}
			{% else %}
				{% include profilecard.html %}
			{% endif %}

		{% endfor %}
	</div>
</div>
